<nav class="navbar">
    <a class="nav-item nav-link" routerLink=""><img src="/assets/officer.png"  alt="Logo"></a>
    <span>
        BD Export Ltd.
    </span>
    <h2>Employee Management System</h2>
    <ul>
        <li>
            <a class="nav-item nav-link" routerLink="">Home</a>
        </li>
        <li>
            <a class="nav-item nav-link" routerLink="personalInfo">Personal</a>
        </li>
        <li>
            <a class="nav-item nav-link" routerLink="educationalInfo">Educational</a>
        </li>
        <li>
            <a class="nav-item nav-link" routerLink="employmentInfo">Employment</a>
        </li>
        <li>
            <a class="nav-item nav-link" routerLink="employeeList">Employee List</a>
        </li>
    </ul>
</nav>
<!-- <img src="/src/assets/angular.svg" alt="ddd"> -->

<router-outlet></router-outlet>
