

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <img src="/assets/teamwork.png" alt="Home Image"/>
        <br><br><br><br>
        <h2><strong><i>BD Export Corporation Ltd.</i></strong></h2><hr>
        <p>
            Imports are the goods and services that are purchased from the rest of the world by a country’s residents, rather than buying domestically produced items.
             Imports lead to an outflow of funds from the country since import transactions involve payments to sellers residing in another country.
        </p>
    </div>
    <div class="col-md-4"></div>

</div>
